{% if user.is_authenticated %}

<div class="login-message">

    You're logged in with {{ user.username }}
    
    See your <a href="{% url 'authors:dashboard' %}">recipes</a>,

    create  <a href="{% url 'authors:dashboard_recipe_new' %}">one</a> or

    <form class="inline-form" action="{% url 'authors:logout' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{user.username}}">
        <button class="plaintext-button" type="submit">
            logout
        </button>
    </form> 
</div>

{% endif %}